@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Slab&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3{
    font-family: 'Roboto Slab', serif;
}
/* start form */
#showdiv{
    /* border: 2px solid black; */
    border-radius: 5px;
    display: flex;
    position: absolute;
    left: 15%;
    top: 8%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s linear;
    box-shadow: 0px 0px 20px 5px #f7902b;
    z-index: 3;
    background-color: white;
    width: 70%;
    display: flex;
    justify-content: space-around;
    height: 80vh;
    padding-top: 50px;
    margin: auto;
}
.content .fa-x{
    position: absolute;
    bottom: 90%;
    right: 5px;
}
.form .fa-solid{
    color: #f7902b;
    font-size: 20px;
}

#showdiv .fa-x{
    cursor: pointer;
    font-size: 25px;
    text-align: end;
    padding-right: 15px;
}

#show_section{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
}
#show_section.is-section{
    display: block;
}

input{
    width: 50%;
    align-self: center;
}
#showdiv h1{
    text-align: center;
}
#showdiv.is-active{
    visibility: visible;
    opacity: 1;
}
#showdiv.is-hidd{
    visibility: hidden;
    opacity: 0;
}
#rightside.is-flow,.leftside.is-flow{
    opacity: 0.2;
}
#rightside.not-flow,.leftside.not-flow{
    visibility: visible;
    opacity: 1;
}
#show_section #showdiv .image{
    align-self: center;
}

.form form{ 
    display: flex;
    flex-direction: column; 
    width: 100%;
}
.contactme{
    margin-bottom: 20px;
}
.form input,textarea,button{
    margin-bottom: 10px;
}
.form input{
    border-radius: 15px;
    border: none;
    width: 100%;
    height: 7vh;
}
.form textarea{
    border-radius: 15px;
    max-width: 300px;
    min-width: 300px;
    max-height: 25vh;
    min-height: 25vh;
}
.form button{
    border-radius: 15px;
    height: 6vh;
}

.form form{ 
    display: flex;
    flex-direction: column; 
    width: 100%;
}
.contactme{
    margin-bottom: 20px;
}
.form button{
    margin-top: 10px;
}
.form input{
    border-radius: 15px;
    border: none;
    width: 100%;
    height: 7vh;
}
.input_form{
    display: flex;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    height: 6vh;
    border-radius: 10px;
    border: solid 1px #f7902b;
}


.input_form .inpt_text input{
    width: 100%;
    outline: none;
    border-radius: 0;
    height: 5vh;
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    padding: 0 10px 0 0;
}
.inpt_text{
    width: 92%;
}

.input_form .inpt_text input::placeholder {
    font-family: 'Roboto Slab', serif;
}

.form textarea{
    border-radius: 15px;
    max-width: 300px; min-width: 300px;max-height: 25vh; min-height: 25vh;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    outline: none;
    border: solid 1px #f7902b;
}
textarea:active,.input_form:active{
    box-shadow: 1px 1px 15px 4px #f7902b;
}
.form button{
    border-radius: 15px;
    height: 6vh;
    width: 47%;
    background-color: #f7902b;
    color: white;
    border: none;
}
.form button:hover{
    background-color: transparent;
    color: black;
    transition-duration: 0.4s;
    border: solid 1px #f7902b;
    box-shadow: 2px 2px 20px 5px #f7902b;
    cursor: pointer;
}

.div_btn{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.input_form .div_icon{
    width: 13%;
    align-self: center;
    margin-right: 11px;
    text-align: center;
}
.fa-solid, .fas {
    font-weight: 900;
    font-size: 24px;
    align-self: center;
}

/* end form */

/* start resum */
section{
    display: flex;
}
/* start left side */
.leftside{
    width: 60%;
    padding: 20px;
    border-bottom: 25px solid #f7902b;
    z-index: 1;
    color: #000;
}
.imgprofil{
    width: 25%;
    border: 8px solid black;
    border-radius: 100%;
    border-left: 8px solid #f7902b;
    border-right: 8px solid #f7902b;
    border-top: 8px solid #2c2a31;
    border-bottom: 8px solid #2c2a31;
}
.imagediv{
    text-align: center;
    margin: 35px 0 35px 0;
}

.educ h1,.exper h1{
    background-color: #f7902b;
    padding: 1% 7% 1% 0;
    width: 90%;
    text-align: right;
    margin-right:10px ;
    border-radius:0px 10px 10px 0px ;
}
table{
    width: 90%;
    text-align: center;
    padding: 35px;
    
}
table tr td:nth-child(odd){
    font-weight: 800; 
    display: flex;
}
table tr td{
    padding-bottom: 20px;
    width: 66%;
}
table tr td p{
    margin-left: 10px;
}

.rect{
    width: 25px;
    height: 25px;
    align-self: center;
    background-color: #f7902b;
    border-radius: 30px;
}
.contact #btn, .skills a{
    display: inline-block;
    border: 2px solid #f7902b;
    margin: auto;
    padding: 10px;
    width: 80%;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;  
    border-radius: 5px; 
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
} 
.contact #btn:hover,.skills a:hover{
    background-color: #f7902b;
    color: black;
    transition-duration: 0.8s;
}
.contact img{
    width: 20px;
    margin-right: 15px;
}
/* end left side */

/* start right side */

/* start down div */
.down_right{
    margin-top: 210px;
}
/* end down div */
.rightside{
    width: 40%;
    background-color: #2c2a31;
    text-align: center;
    padding: 45px;
}
/* start contact */
.contact ul{
    display: block;
    list-style: none;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    color: white;
}
.contact ul li{
    display: flex;
    padding: 10px;
    align-items: center;
}
.contact ul p{
    text-align: justify;
}
.contact ul li i{
    font-size: 25px;
    color: #f7902b;
    align-self: center;
    margin:10px;
}
.contact ul li p a{
    text-decoration: none;
    color: white;
}
.contact ul li p a:hover{
    text-decoration: underline #f7902b;
}
/* end contact */
/* start skills */
.skills a{
    margin-top: 20px;
}
.skills h3{
    margin-top: 20px;
    color: azure;
    font-size: 20px;
    letter-spacing: 2px;
    display: inline;
}
.level {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.level  h3{
    margin-bottom: 10px;
}
.range {
    background-color: transparent;
    border: 2px solid #f7902b;
    width: 70%;
    height: 19px;
}
.skills .level .one{
    width: 60%;
}
.skills .level .two{
    width: 40%;
}
.skills .level .three{
    width: 80%;
}
.range div{
    height: 14.5px;
    border: 2px solid #f7902b;
    background-color: #f7902b;
}
/* end skills */
/* start social media */
.icon{
    width: 100%;
    margin-top: 80px;
    border-top: 2px solid #f7902b;
    border-bottom: 2px solid #f7902b;
    padding: 15px;
    text-align: center;
    border-radius: 30%;
}
.icon h2{
    margin-bottom: 20px;
    color: white;
    font-size: 25px;
}
.icon ul li i{
    font-size: 35px;
    color:beige ;
}
.icon ul li i:hover{
    color: #f7902b;
    transform: scale(1.1);
    transition-duration: 0.4s;
}
.icon ul li{
    width: 30px;
    list-style: none;
}

.icon ul{
    display: flex;
    justify-content: space-evenly;
}
/* end social media */
/* start div head absult */
.divhead{
    background-color: #f7902b;
    width: 70%;
    height: 100px;
    position: absolute;
    right:0px;
    top:100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.rightside .divhead h1{
    color: white;
    margin-right: 250px;
    font-weight: 900;
}
/* end div head absult */

/* end right side */